/* Web.css */

.sidebar {
  position: fixed;
  padding-top: 5%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #f0f0f0;
  overflow-y: auto;
}

.content {
  margin-left: 200px; /* Adjust to leave space for sidebar */
  padding: 20px; /* Add padding for content */
}

.topic-list {
  list-style-type: none;
  padding: 0;
}

.topic-item {
  padding: 10px;
  cursor: pointer;
}
/* 
.topic-item:hover {
  background-color: #ddf44c; /* Hover color 
}

.topic-item.active {
  background-color: #ddf44c; /* Active color 
  color: grey
} */

.container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .content {
    margin-left: 0;
  }
}
